<app-navigation></app-navigation>
<div class="home">
  <div class="overlay">
    <section class="her-wrap js-fullheight" data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
          data-scrollax-parent="true">
          <div class="content col-md-6 order-md-first">
            <div class="subh">
              <h1 class="mb-4">Your Health, Your Privacy</h1>
              <figure class="text-start">
                <blockquote class="blockquote">
                  <p>Experience a platform that prioritizes privacy, utilizing blockchain
                    to maintain confidentiality and protect sensitive health information.</p>
                </blockquote>
              </figure>
              <p class="mb-4"></p>
              <p><a [routerLink]="['appointment']" class="btn btn-primary">Make an appointment</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="image-background"></div>
</div>
